<div *ngIf="!isPageLoaded" class="loader">
  <p-progressSpinner
    [style]="{ width: '250px', height: '250px' }"
    class="custom-spinner"
    strokeWidth="3"
    fill="#EEEEEE"
    animationDuration=".5s"
  ></p-progressSpinner>
</div>

<div *ngIf="isPageLoaded" class="page">
  <div [class]="theme + ' header'">
    <div class="buttons-grouper">
      <button
        pButton
        type="button"
        [class]="theme === 'light' ? 'p-button-secondary' : 'p-button-raised'"
        icon="pi pi-eye"
        (click)="changeTheme()"
      ></button>

      <p-dropdown
        *ngIf="!isError"
        [options]="itemsPerPage"
        [(ngModel)]="noOfItems"
        (onChange)="fetchImages()"
      ></p-dropdown>
    </div>

    <h3>{{ title }}</h3>
  </div>

  <div *ngIf="!isError" [class]="theme">
    <p-carousel [value]="items">
      <ng-template (click)="eventListen($target)" let-item pTemplate="item">
        <div class="card">
          <div class="card-header">
            <div class="details-wrapper">
              <i class="pi pi-user"></i>
              <span>
                {{ item.author }}
              </span>
            </div>

            <div class="details-wrapper">
              <i class="pi pi-globe"></i>
              <span>
                {{ TimeFormatter(item.published) }}
              </span>
            </div>
          </div>

          <div class="card-content">
            <img [src]="item.media.m" />
          </div>

          <div class="card-footer">
            <p>{{ TitleFormatter(item.title) }}</p>
            <button
              pButton
              (click)="visitPage(item.link)"
              label="View Post"
              icon="pi pi-eye"
              iconPos="left"
              class="p-button-lg"
              type="button"
            ></button>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <div *ngIf="!isError" [class]="theme + ' footer'">
    <p-chip>
      <a [href]="source">{{ source }}</a>
    </p-chip>
  </div>
</div>
