.dark {
  color: #f7f6f2;
  background-color: #4b6587;
}

.light {
  background-color: #f7f6f2;
  color: #4b6587;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  justify-content: center;
}

.custom-spinner {
  display: flex;
  align-items: center;
  height: 35rem;
}

.header,
.footer {
  padding: 1rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  h3,
  p {
    text-align: center;
    font-size: 1rem;
    margin: 1rem 0;
  }

  .buttons-grouper {
    display: flex;
    justify-content: flex-start;
    column-gap: 1rem;
  }
}

.item {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 1rem 1rem 1rem;

  width: auto;
  height: auto;

  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  align-self: center;
  justify-self: center;

  h3,
  p {
    font-size: 0.8rem;
    margin: 0 0 0.5rem 0;
  }

  img {
    border-radius: 2vh;
    width: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 0 0 0.5rem 0;
  }

  .content {
    display: flex;
    flex-direction: column;

    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    align-self: center;
    justify-self: center;
  }
}

@media only screen and (min-width: 1024px) {
  .footer {
    width: 40%;
    position: fixed;
    bottom: 0;
    justify-content: center;
  }
}
